@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap");

:root {
  --brown: #824c2f;
  --red: #891d1a;
  --yellow: #efe095;
  --blue: #c5d0d3;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-image: url("assets/photobooth-state-1.png");
  animation: changeBackground 1s steps(2, jump-none) infinite;
  z-index: -1000;
}

@keyframes changeBackground {
  0% {
    background-image: url("assets/photobooth-state-1.png");
  }
  50% {
    background-image: url("assets/photobooth-state-2.png");
  }
}

#enterBooth,
#startCapture {
  position: absolute;
  background-color: transparent;
  outline: none;
  font-family: "Bitcount Grid Single";
  font-size: 2rem;
  border: none;
}

#enterBooth {
  top: 50%;
  right: 26%;
  color: #824c2f;
}

#startCapture {
  top: 40%;
  left: 43%;
  z-index: 1;
  color: #efe095;
}

#enterBooth:hover,
#startCapture:hover {
  cursor: pointer;
}

.screen {
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 2s ease-in-out,
    visibility 0s 2s;
}

.screen.activeScr {
  opacity: 1;
  visibility: visible;
  transition:
    opacity 2s ease-in-out,
    visibility 0s 0s;
}

.cameraBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-image: url("assets/photobooth-inside.png");
  z-index: -1000;
}

.video-capture {
  position: absolute;
  width: 287px;
  height: 287px;
  object-fit: cover;
  top: 19.4%;
  left: 36.4%;
  transform: scaleX(-1);
}

.countdown {
  position: absolute;
  top: 40%;
  left: 46%;
  transform: translateX(-50%);
  font-size: 2rem;
  font-family: "Bitcount Grid Single";
  color: #efe095;
  z-index: 2;
  display: none;
}

.resultBg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("assets/photo-result.png") center/cover no-repeat;
  z-index: -1;
}

.download-btn {
  padding: 8px 16px;
  background-color: #efe095;
  color: #891d1a;
  font-family: "Bitcount Grid Single";
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  position: absolute;
  top: 46%;
  right: 6%;
  transform: translateX(-50%);
}
.download-btn:hover,
.retake-btn:hover {
  cursor: pointer;
}
.retake-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  font-size: 1.2rem;
  color: #efe095;
  font-family: "Indie flower";
  top: 56%;
  right: 9%;
  transform: translateX(-50%);
}
